Repository scshasha/resume, changes with the labels that .github/labeler.yml gives for each.
All labels: core, app, asset, styling, environment, test

.github/labeler.yml:

core:
    - ./*
  app:
    - src/app/*
  asset:
    - src/assets/*
  styling:
    - src/**/*.css
    - src/**/*.scss
    - src/*.scss
    - src/*.css
  environment:
    - src/environments/*
  test:
    - src/**/*.spec.js
    - src/**/*.spec.ts

netlify forms test integration
  src/app/contact/contact.component.html
Labels: none

added anme attrib to contact form
  src/app/contact/contact.component.html
Labels: none

fixed form attribs
  src/app/contact/contact.component.html
Labels: none

added recaptcha
  src/app/contact/contact.component.html
Labels: none

add recaptcha field
  src/app/contact/contact.component.html
Labels: none

Ignore server directory in this repo
  .gitignore
Labels: core

Cerrecting touch icon link tags & menifest path
  src/index.html
Labels: none

Added new project form components
  src/app/projects/components/project-form/project-form.component.html
  src/app/projects/components/project-form/project-form.component.scss
  src/app/projects/components/project-form/project-form.component.ts
  src/app/projects/components/project-list/project-list.component.html
  src/app/projects/components/project-list/project-list.component.scss
  src/app/projects/components/project-list/project-list.component.ts
Labels: styling

Added project model
  src/app/projects/models/project.spec.ts
  src/app/projects/models/project.ts
Labels: test

Added project service
  src/app/projects/services/project.service.ts
Labels: none

Added express backend api
  src/environments/environment.ts
Labels: environment

Added new route to be ignored when adding header and footer
  src/app/app.component.ts
Labels: app

added new project form route and importing form dependencies
  src/app/admin-dashboard/admin-dashboard-routing.module.ts
  src/app/projects/projects.module.ts
  src/app/shared/material.module.ts
Labels: none

temporary removing the contact form
  src/app/contact/contact.component.html
  src/app/shared/_components/footer/footer.component.html
Labels: none

Removed server from index
  .gitignore
Labels: core

add project management functionality
  package-lock.json
  package.json
  src/app/admin-dashboard/admin-dashboard-routing.module.ts
  src/app/app.component.ts
  src/app/projects/components/project-form/project-form.component.ts
  src/app/projects/components/project-list/project-list.component.html
  src/app/projects/components/project-list/project-list.component.ts
  src/app/projects/models/project.ts
  src/app/projects/services/project.service.ts
  src/environments/environment.ts
Labels: core, app, environment

Increased mobile break point value
  src/app/admin-dashboard/components/side-nav/side-nav.component.ts
Labels: none

Added mat dialog
  src/app/shared/material.module.ts
Labels: none

Added cofirmation dialog for delete actions, some component styling and few refactors
  src/app/projects/components/project-form/project-form.component.html
  src/app/projects/components/project-form/project-form.component.scss
  src/app/projects/components/project-list/confirm-del-dialog.component.ts
  src/app/projects/components/project-list/project-list.component.html
  src/app/projects/components/project-list/project-list.component.ts
  src/app/projects/projects.module.ts
Labels: styling

Added a link and a few styes on components
  src/app/admin-dashboard/components/side-nav/side-nav.component.html
  src/app/admin-dashboard/components/side-nav/side-nav.component.ts
  src/app/admin-dashboard/components/toolbar/toolbar.component.html
  src/app/admin-dashboard/components/toolbar/toolbar.component.scss
  src/styles.scss
Labels: styling

Added and refactored dialog modals
  src/app/projects/components/project-list/confirm-del-dialog.component.ts
  src/app/projects/components/project-list/dialogs/delete/delete-confirmation-dialog.component.html
  src/app/projects/components/project-list/dialogs/delete/delete-confirmation-dialog.component.ts
  src/app/projects/components/project-list/dialogs/details/project-details-dialog.component.html
  src/app/projects/components/project-list/dialogs/details/project-details-dialog.component.ts
  src/app/projects/components/project-list/project-list.component.html
  src/app/projects/components/project-list/project-list.component.ts
Labels: none

mobile
  package.json
  src/app/app.component.ts
  src/app/modules/resume/about-me/about-me.component.scss
  src/app/modules/resume/connect/connect.component.html
  src/app/modules/resume/portfolio-projects/portfolio-projects.component.html
  src/app/modules/resume/portfolio-projects/portfolio-projects.component.ts
  src/app/modules/resume/resume.component.scss
  src/app/modules/resume/skill-sets/skill-sets.component.html
  src/app/modules/resume/skill-sets/skill-sets.component.scss
  src/app/shared/components/footer/footer.component.html
  src/app/shared/components/footer/footer.component.scss
  src/app/shared/components/header/header.component.scss
  src/app/shared/models/project.model.ts
  src/app/shared/services/projects.service.ts
  src/index.html
  src/manifest.json
  src/styles.scss
Labels: core, app, styling

Added project widget to dashoard
  src/app/modules/dashboard/dashboard.component.html
  src/app/modules/dashboard/dashboard.component.ts
  src/app/modules/pages/projects/components/project-form/project-form.component.html
  src/app/modules/pages/projects/services/project.service.ts
  src/app/shared/components/header-dashboard/header-dashboard.component.html
  src/app/shared/components/sidebarnav/sidebarnav.component.html
  src/app/shared/components/sidebarnav/sidebarnav.component.ts
  src/styles.scss
Labels: styling

Updated
  src/app/modules/dashboard/dashboard.component.html
  src/app/modules/dashboard/dashboard.component.ts
  src/app/modules/pages/projects/components/project-form/project-form.component.html
  src/app/modules/pages/projects/components/project-form/project-form.component.ts
  src/app/modules/pages/projects/components/project-list/dialogs/details/project-details-dialog.component.html
Labels: none

added dashboard profile icon
  src/assets/img/profile-icon.jpg
Labels: none

Added temp offline styles
  src/index.html
Labels: none

Added social link vars
  src/environments/environment.ts
Labels: environment

Ignore offline styling files
  .gitignore
Labels: core

Updated dashboard footer
  src/app/shared/components/footer-dashboard/footer-dashboard.component.html
  src/app/shared/components/footer-dashboard/footer-dashboard.component.scss
  src/app/shared/components/footer-dashboard/footer-dashboard.component.ts
Labels: styling

Updated link text
  src/app/shared/components/sidebarnav/sidebarnav.component.html
Labels: none

Updated dashboard header
  src/app/shared/components/header-dashboard/header-dashboard.component.html
  src/app/shared/components/header-dashboard/header-dashboard.component.scss
Labels: styling

Project form & list updated
  src/app/modules/pages/projects/components/project-form/project-form.component.html
  src/app/modules/pages/projects/components/project-form/project-form.component.scss
  src/app/modules/pages/projects/components/project-list/project-list.component.html
  src/app/modules/pages/projects/components/project-list/project-list.component.scss
Labels: styling

settings feature - WIP
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/layouts/default/default.component.html
  src/app/layouts/default/default.component.scss
  src/app/modules/dashboard/dashboard.component.html
  src/app/modules/pages/settings/settings.component.html
  src/app/modules/pages/settings/settings.component.scss
  src/app/modules/pages/settings/settings.component.ts
  src/app/shared/components/footer-dashboard/footer-dashboard.component.scss
  src/app/shared/components/header-dashboard/header-dashboard.component.html
  src/app/shared/components/header-dashboard/header-dashboard.component.scss
  src/app/shared/components/sidebarnav/sidebarnav.component.html
  src/app/shared/components/sidebarnav/sidebarnav.component.scss
Labels: app, styling

Upgraded from 9.x to 10.x
  .browserslistrc
  e2e/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Labels: core

uninstall @angular/flex-layout
  package-lock.json
  package.json
Labels: core

Upgraded angular/sdk, angular/material from 9.x to 10.x
  package-lock.json
  package.json
  src/main.ts
Labels: core

Installed angular/flex-layout
  package-lock.json
  package.json
Labels: core

uninstall @angular/flex-layout
  package-lock.json
  package.json
Labels: core

uninstall @fortawesome/angular-fontawesome
  package-lock.json
  package.json
Labels: core

ng-snotify
  package-lock.json
  package.json
Labels: core
