Repository scshasha/resume, changes with the labels that .github/labeler.yml gives for each.
All labels: core, app, asset, styling, environment, test

.github/labeler.yml:

core:
    - ./*
  app:
    - src/app/*
  asset:
    - src/assets/*
  styling:
    - src/**/*.css
    - src/**/*.scss
    - src/*.scss
    - src/*.css
  environment:
    - src/environments/*
  test:
    - src/**/*.spec.js
    - src/**/*.spec.ts

upgraded to @angular/core@11
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/modules/dashboard/dashboard.component.spec.ts
  src/app/modules/pages/policy/policy.component.spec.ts
  src/app/modules/resume/about-me/about-me.component.spec.ts
  src/app/modules/resume/connect/connect.component.spec.ts
  src/app/modules/resume/intro-hero/intro-hero.component.spec.ts
  src/app/modules/resume/portfolio-projects/portfolio-projects.component.spec.ts
  src/app/modules/resume/skill-sets/skill-sets.component.spec.ts
  src/app/shared/components/comingsoon/comingsoon.component.spec.ts
  src/app/shared/components/footer-dashboard/footer-dashboard.component.spec.ts
  src/app/shared/components/footer/footer.component.spec.ts
  src/app/shared/components/fourohfour/fourohfour.component.spec.ts
  src/app/shared/components/header-dashboard/header-dashboard.component.spec.ts
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/sidebarnav/sidebarnav.component.spec.ts
Labels: core, app, test

Upgraded @angular/cli
  angular.json
  package-lock.json
  package.json
Labels: core

upgraded @angular/material@11.
  package-lock.json
  package.json
Labels: core

Upgraded core to 12
  angular.json
  package-lock.json
  package.json
  src/environments/environment.ts
  src/polyfills.ts
  src/test.ts
Labels: core, environment

Upgraded material@12
  package-lock.json
  package.json
  src/app/modules/resume/intro-hero/intro-hero.component.scss
Labels: core, styling

Updated core to 13
  .gitignore
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
  src/test.ts
Labels: core

Updated angular material
  package-lock.json
  package.json
  src/styles.scss
Labels: core, styling

re-installed uninstalled deps.
  package-lock.json
  package.json
Labels: core

cdk ipdated
  package-lock.json
  package.json
  src/app/modules/pages/projects/components/project-form/project-form.component.ts
Labels: core

ng update @angular/cli
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Labels: core

updated material
  package-lock.json
  package.json
Labels: core

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: core
