Repository scshasha/resume, changes with the labels that .github/labeler.yml gives for each.
All labels: core, app, styling, environment, test

.github/labeler.yml:

core:
    - ./*
  app:
    - src/app/*
  styling:
    - src/**/*.css
    - sc/**/*.scss
  environment:
    - src/environments/*
  test:
    - src/**/*.spec.js
    - src/**/*.spec.ts

contact section mockup
  src/app/contact/contact.component.html
Labels: none

Footer component
  src/app/app.module.ts
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.component.ts
Labels: app, test

Footer component (#3)
  src/app/app.module.ts
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.component.ts
Labels: app, test

fixed syntax error on app.module.ts and added images.
  src/app/app.module.ts
  src/assets/img/profile-1.jpg
  src/assets/img/profile-2.jpeg
Labels: app

Mockup updated
  src/app/about-us/about-us.component.html
  src/app/welcome/welcome.component.html
Labels: none

color setup
  src/app/app.component.html
  src/styles.scss
Labels: app

welcome section style
  src/app/about-us/about-us.component.html
  src/app/about-us/about-us.component.scss
  src/app/app.component.html
  src/app/header/header.component.html
  src/app/header/header.component.scss
  src/app/skills/skill/skill.component.scss
  src/app/skills/skills.component.scss
  src/app/welcome/welcome.component.html
  src/app/welcome/welcome.component.scss
  src/app/work/work.component.scss
  src/assets/img/dotted-shape.png
  src/assets/img/profile-1-light-blackwash.png
  src/assets/img/profile-3.png
  src/assets/img/profile-4.png
  src/assets/img/profile-5.png
  src/index.html
  src/styles.scss
Labels: app

About styling.
  src/app/about-us/about-us.component.scss
  src/app/app.component.html
  src/app/welcome/welcome.component.html
  src/app/welcome/welcome.component.scss
  src/app/work/work.component.scss
  src/styles.scss
Labels: app

Skills component styling
  src/app/about-us/about-us.component.html
  src/app/app.component.html
  src/app/contact/contact.component.scss
  src/app/header/header.component.html
  src/app/header/header.component.scss
  src/app/skills/skills.component.html
  src/app/skills/skills.component.scss
  src/app/skills/skills.component.ts
  src/app/welcome/welcome.component.html
  src/app/welcome/welcome.component.scss
  src/assets/img/dotted-shape-2.png
  src/assets/img/profile-1.jpg
  src/assets/img/profile-2.jpeg
  src/assets/js/main.js
  src/styles.scss
Labels: app

skills style refactor
  src/app/skills/skills.component.html
  src/app/skills/skills.component.scss
  src/assets/img/tipi.png
  src/assets/uploads/tipi.lodon.png
Labels: none

work section styles
  src/app/work/work.component.html
  src/app/work/work.component.scss
  src/app/work/work.component.ts
  src/styles.scss
Labels: none

work filter
  src/app/app.component.html
  src/app/shared/project.model.ts
  src/assets/js/main.js
  src/assets/uploads/tipi.lodon.png
Labels: app

filter active class refactor
  src/assets/js/main.js
Labels: none

refactor & contact section styling
  src/app/about-us/about-us.component.scss
  src/app/app.component.html
  src/app/contact/contact.component.html
  src/app/contact/contact.component.scss
  src/app/header/header.component.html
  src/app/skills/skills.component.scss
  src/app/welcome/welcome.component.scss
  src/app/work/work.component.scss
  src/index.html
  src/styles.scss
Labels: app

completed footer and contact sections
  src/app/app.component.html
  src/app/contact/contact.component.html
  src/app/contact/contact.component.scss
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/work/work.component.html
  src/assets/img/coffee-solid.svg
  src/assets/img/download-solid.svg
  src/assets/img/file-download-solid.svg
  src/assets/img/github-brands.svg
  src/assets/img/heart-regular.svg
  src/assets/img/heart-solid.svg
  src/assets/img/iconmonstr-coffee-14.svg
  src/assets/img/iconmonstr-coffee-16.svg
  src/assets/img/iconmonstr-coffee-20.svg
  src/assets/img/linkedin-in-brands.svg
  src/assets/img/screencapture-localhost-4200-2020-04-16-07_20_08.pdf
  src/assets/img/stack-overflow-brands.svg
  src/assets/img/whatsapp-brands.svg
  src/assets/uploads/christopher_shasha_resume_2020.pdf
  src/assets/uploads/scshasha-gp_compressed.pdf
  src/index.html
  src/styles.scss
Labels: app

style fixes & updates
  src/app/about-us/about-us.component.scss
  src/app/contact/contact.component.scss
  src/app/footer/footer.component.scss
  src/app/skills/skills.component.scss
  src/app/welcome/welcome.component.scss
  src/styles.scss
Labels: none

mochup update
  src/app/about-us/about-us.component.html
  src/app/contact/contact.component.html
  src/app/footer/footer.component.html
  src/app/skills/skills.component.html
  src/app/welcome/welcome.component.html
  src/app/work/work.component.html
Labels: none

Updated index title
  src/index.html
Labels: none
